<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopify_App</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../../../bower_components/components-font-awesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="../../../styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../../../../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>

  <div class="main_dashboard col-sm-12 col-xs-12 no-padding">
    <div class="col-sm-2 no-padding hidden-xs"></div>
    <div class="dashboard col-sm-10 no-padding col-xs-12">
      <div class="col-sm-12 dashboard_header hidden-xs no-padding">
        <div class="dashboard-header-left col-sm-6 no-padding pull-left">
          <img src="../../../images/dashboard_header_fill.png" class="dashboard-header-left-fill-1" alt="">
          <p>
            <span class="dashboard-header-left-text-1">
              Sell Tickets
            </span>
            <span class="dashboard-header-left-text-slash">
              /
            </span>
            <a href="">
              <span class="dashboard-header-left-text-2">
                Dashboard
              </span>
            </a>
          </p>
        </div>
        <div class="dashboard-header-right no-padding col-sm-6 pull-right">
          <div class="dashboard-header-right-dashb-help-buttons-area">
            <div class="dashboard-header-right-dashb-button">Dashboard</div>
            <div class="divide-line"></div>
            <div class="dashboard-header-right-help-button">Help</div>
          </div>
          <button type="button" class="btn btn-primary dashboard-header-right-create-event-button">Create event</button>
        </div>
      </div>
      <div class="col-xs-12 visible-xs dashboard_header no-padding-xs">
        <div class="col-xs-12 dashboard-header-menu-and-title-area">
          <button type="button" class="btn btn-default navbar-toggle-button">
            <img src="../../../images/dashboard_header_menu_button_responsive.png" class="" alt="">
          </button>
          <a href="">
          <span class="dashboard-header-left-text-2">
            Dashboard
          </span>
          </a>
        </div>
        <div class="col-xs-12 dashboard-header-right">
          <div class="dashboard-header-right-dashb-help-buttons-area">
            <div class="dashboard-header-right-dashb-button">Dashboard</div>
            <div class="divide-line"></div>
            <div class="dashboard-header-right-help-button">Help</div>
          </div>
          <button type="button" class="btn btn-primary dashboard-header-right-create-event-button">Create event</button>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 dashboard_content no-padding">
        <div class="col-sm-12 dashboard-content-title-and-create-button-area hidden-xs">
          <span class="dashboard-content-ttile">
            Events
          </span>
          <button type="button" class="btn btn-default dashboard-content-create-event-button">Create event</button>
        </div>
        <div class="col-sm-12 col-xs-12 no-padding dashboard-content-events-thumbnails-area">
          <div class="col-sm-4 col-xs-12 no-padding-xs dashboard-content-thumbnails-area" style="padding-right: 14px;">
            <div class="col-sm-12 col-xs-12 no-padding dashboard-content-lovebox-event-thumbnail">
              <div class="col-sm-12 col-xs-12 no-padding lovebox-event-thumbnail-image">
                <img src="../../../images/dashboard_content_image1.png" class="img-responsive" alt="">
              </div>
              <div class="col-sm-12 col-xs-12 no-padding lovebox-event-thumbnail-description">
                <div class="col-sm-12 col-xs-12 no-padding lovebox-event-thumbnail-description-title">
                  Lovebox
                </div>
                <div class="col-sm-12 col-xs-12 no-padding lovebox-event-thumbnail-description-tickets-sold">
                  1,5654 tickets sold
                </div>
                <div class="col-sm-12 col-xs-12 no-padding lovebox-event-thumbnail-description-profit">
                  £5,1546 profit
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 no-padding-xs dashboard-content-thumbnails-area" style="padding-left:14px;padding-right: 14px;">
            <div class="col-sm-12 col-xs-12 no-padding dashboard-content-glastonbury-event-thumbnail">
              <div class="col-sm-12 col-xs-12 no-padding glastonbury-event-thumbnail-image">
                <img src="../../../images/dashboard_content_image2.png" class="img-responsive" alt="">
              </div>
              <div class="col-sm-12 col-xs-12 no-padding glastonbury-event-thumbnail-description">
                <div class="col-sm-12 col-xs-12 no-padding glastonbury-event-thumbnail-description-title">
                  Glastonbury
                </div>
                <div class="col-sm-12 col-xs-12 no-padding glastonbury-event-thumbnail-description-tickets-sold">
                  0 sold
                </div>
                <div class="col-sm-12 col-xs-12 no-padding glastonbury-event-thumbnail-description-profit">
                  £0 profit
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 dashboard-content-thumbnails-area no-padding-xs" style="padding-left: 14px;">
            <div class="col-sm-12 col-xs-12 no-padding dashboard-content-tinthepark-event-thumbnail">
              <div class="col-sm-12 col-xs-12 no-padding tinthepark-event-thumbnail-image">
                <img src="../../../images/dashboard_content_image3.png" class="img-responsive" alt="">
              </div>
              <div class="col-sm-12 col-xs-12 tinthepark-event-thumbnail-description">
                <div class="col-sm-12 col-xs-12 tinthepark-event-thumbnail-description-title">
                  T in the park
                </div>
                <div class="col-sm-12 col-xs-12 tinthepark-event-thumbnail-description-tickets-sold">
                  1,5654 tickets sold
                </div>
                <div class="col-sm-12 col-xs-12 tinthepark-event-thumbnail-description-profit">
                  £5,1546 profit
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../../../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../../../bower_components/modernizr/modernizr.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="../../../scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
